{
    ApplicationDescription = "A GNUstep interface for burning CDs.";
    ApplicationIcon = "";
    ApplicationName = Burn;
    ApplicationRelease = "0.7.0";
    Authors = ("Andreas Schik <andreas@schik.de>");
    Copyright = "Copyright (C) 2002-2016 by Andreas Schik";
    CopyrightDescription = "Released under GPL";
    FullVersionID = "0.7.0";
    URL = "http://www.andreasschik.de";
    NSPrincipalClass = "BurnApplication";
    NSTypes = (
      {
        NSName = "burnprj";
        NSRole = "Editor";
	NSIcon = "FileIcon.tiff";
        NSHumanReadableName = "CD Compilation";
        NSUnixExtensions = ("burn");
        NSDocumentClass = Project;
      },
      {
        NSName = "isoimg";
        NSRole = "Editor";
	NSIcon = "FileIcon.tiff";
        NSHumanReadableName = "ISO Image";
        NSUnixExtensions = ("iso");
        NSDocumentClass = Project;
      }
    );
    NSServices = (
      {
        NSPortName = Burn;
        NSMessage = newProject;
        NSSendTypes = (NSFilenamesPboardType, AudioCDPboardType);
        NSMenuItem = {
          default = "Burn/Burn to CD";
	  German = "Burn/Auf CD brennen";
	  French = "Burn/Graver sur un CD";
        };
      },
      {
        NSPortName = Burn;
        NSMessage = addToProject;
        NSSendTypes = (NSFilenamesPboardType, AudioCDPboardType);
        NSMenuItem = {
          default = "Burn/Add to CD";
	  German = "Burn/Zu CD hinzuf\U00fcgen";
	  French = "Burn/Ajuter \U00e0 CD";
        };
      }
    );
}
